<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lp.mapper.EmailMapper">
    <!-- 根据uid和email插入用户信息 -->
    <insert id="insertUserInfo">
        INSERT INTO user_info (uid,email,avatar)
            VALUE(#{uid},#{email},#{avatar})
    </insert>
    <!-- 插入邮箱验证码相关信息 -->
    <insert id="insertEmailCode">
        INSERT INTO emailcode (email,code,type,end)
        VALUES (#{email},#{code},#{type},#{end})
    </insert>

<!--    插入userInfo信息-->
    <insert id="insertUserInfoByUid">
        INSERT INTO user_info(uid)
        VALUES(#{uid})
    </insert>
    <!-- 更新验证码 -->
    <update id="updateEmailCode">
        UPDATE emailcode
        SET code = #{code},type = #{type},end = #{end} where email = #{email} and type = #{type}
    </update>
<!--    用户绑定邮箱-->
    <update id="updateEmailByUidAndEmail">
        UPDATE user_info
        SET email = #{email}
        WHERE uid = #{uid}
    </update>
    <!-- 根据邮箱号查找用户信息 -->
    <select id="selectUserInfoByEmail" resultType="com.lp.beans.entity.UserInfoEntity">
        SELECT
            ui.id,
            ui.uid,
            ui.email,
            ui.nickname
        FROM
            user_info ui
        WHERE
            ui.email = #{email}
    </select>
    <!-- 按照邮箱号和注册类型查找邮箱验证相关信息 -->
    <select id="selectEmailByEmail" resultType="com.lp.beans.pojo.po.EmailCodePo">
        SELECT
            e.id,
            e.email,
            e.code,
            e.type,
            e.end
        FROM
            emailcode e
        WHERE
            email = #{email}
          AND type = #{type}
    </select>
</mapper>
